// ------------------------------------------
  // Utils
//-------------------------------------------
@import
  "utils/variables",
  "utils/mixins",
  "utils/placeholders",
  "utils/functions";

// ------------------------------------------
  // Base
//-------------------------------------------
@import
  "base/myreset",
  "base/magnific-popup",
  "base/fonts";

// ------------------------------------------
  // Sprites
//-------------------------------------------
@import
  "sprites/sprite",
  "sprites/mixins";

// ------------------------------------------
  // Layout
// ------------------------------------------
@import
  "layout/tools",
  "layout/grid";

// ------------------------------------------
  // Modules
// ------------------------------------------
@import
  "components/header"
  , "components/equipment"
  , "components/block01"
  , "components/block02"
  , "components/block03"
  , "components/warranty"
  , "components/team"
  , "components/objects"
  , "components/work"
  , "components/clients"
  , "components/comments"
  , "components/algoritm"
  , "components/block04"
  , "components/bcontacts"
  , "components/popups"
  , "components/thanks"
  ;

// ------------------------------------------
  // Pages
//-------------------------------------------
@import
  "pages/index";
