.algoritm_title Как мы работаем

-
    var algoritm = [
        {
            title: "Заявка на сайте",
            icon: "alg01"
        },
        {
            title: "Изучение объекта",
            icon: "alg02"
        },
        {
            title: "Рачеты и составление предложения",
            icon: "alg03"
        },
        {
            title: "Заключение договора",
            icon: "alg04"
        },
        {
            title: "Выполнение работ",
            icon: "alg05"
        }
    ];

ul.algoritm_list
    each step, stepIndex in algoritm
        li.algoritm_step(class="algoritm_step--step#{stepIndex}")
            i.algoritm_icon(class=step.icon)
            .algoritm_name #{step.title}

a.algoritm_ancher(href="#", class="open_modal" data-formname="#modal1") Оставить заявку