a#anchor-bcontacts.anchor
.bcontacts_title Наши контакты

.bcontacts_address-wrp
    .bcontacts_address-title Адрес:
    .bcontacts_address Россия, Краснодарский край, г. Краснодар, ул.&nbsp;Карасунская, 160

.bcontacts_phone-wrp
    .bcontacts_phone-title Телефон сервисного центра:
    .bcontacts_phone
        a.bcontacts_phone-link(href="tel:+78612928169") (861) 292-81-69