a#anchor-block02.anchor
.block02_title
    | Закажите бесплатную консультацию нашего специалиста сейчас и 
    span.block02_title--strong
        | получите антибактериальную обработку внутренних блоков кондиционеров 
    span.block02_title--selling-terms
        | в подарок!

.block02_form-block
    .form2_title
        | Заполните форму и наш специалист свяжется с&nbsp;Вами для уточнения деталей расчета
    form.block_form.form2(method='post', action='/mailer.php')
        input(type='hidden', name='formid', value='ID: 03 — Бесплатная консультация')
        input.form2_input.mask-phone(placeholder='Введите Ваш телефон', name='phone', type='phone')
        button.form2_submit.submit-btn(type='submit') Получить полезную консультацию

.block02_confidential-wrp
    a.block02_confidential(href="#", class="open_modal" data-formname="#confidential") Политика конфиденциальности