h1.block03_title
    | Хотите узнать стоимость работ по своему объекту?

.block03_desc
    | Просто заполните и отправьте нам форму заявки. Мы свяжемся  Вами для уточнения деталей

.block03_form-block
    form.block_form.form3(method='post', action='/mailer.php')
        input(type='hidden', name='formid', value='ID: 04 — Стоимость работ')
        input.form3_input.mask-phone(placeholder='Введите Ваш телефон', name='phone', type='phone')
        button.form3_submit.submit-btn(type='submit') Получить расчет стоимости работ
    
        .block03_confidential-wrp
            a.block03_confidential(href="#", class="open_modal" data-formname="#confidential") Политика конфиденциальности