a#anchor-block04.anchor
.block04_title Остались вопросы?

.block04_subtitle Введите свой вопрос. Мы свяжемся с Вами в ближайшее время и ответим на него.

.block04_form-block
    form.block_form.form4(method='post', action='/mailer.php')
        input(type="hidden", name="formid", value="ID: 05 — Форма восроса")
        textarea.form4_textarea(placeholder="Введите Ваш вопрос", name="question")
        input.form4_input.mask-phone(placeholder='Введите Ваш телефон', name='phone', type='phone')
        button.form4_submit.submit-btn(type='submit') Получить ответ