a#anchor-clients.anchor
.clients_title Наши основные клиенты

-
    var clients = [
        {
            name: "Отделение пенсионного фонда России по Краснодаркому краю",
            photo: "clients01.jpg"
        },
        {
            name: "Управление федеральной налоговой службы по&nbsp;Краснодаркому краю",
            photo: "clients02.jpg"
        },
        {
            name: "Банк «Первомайский», г. Краснодар",
            photo: "clients03.jpg"
        },
        {
            name: "Краснодарский художественный музей им. Коваленко",
            photo: "clients04.jpg"
        },
        {
            name: "МТС-Банк, г. Краснодар",
            photo: "clients05.jpg"
        },
        {
            name: "Газпром Межрегионгаз Краснодар",
            photo: "clients06.jpg"
        },
        {
            name: "Росбанк, г. Краснодар",
            photo: "clients07.jpg"
        },
        {
            name: "Бизнес-центр «Изумруд»",
            photo: "clients08.jpg"
        },
        {
            name: "Федеральная сеть аптек «Лора Плюс»",
            photo: "clients09.jpg"
        },
        {
            name: "Пансионат «Маяк», п. Шепси",
            photo: "clients10.jpg"
        },
        {
            name: "ВнешФинБанк, г. Краснодар",
            photo: "clients11.jpg"
        },
        {
            name: "БинБанк, г. Краснодар",
            photo: "clients12.jpg"
        }
    ];

ul.clients_list
    each client, clientIndex in clients
        li.clients_client.client
            .clients_photo-wrp
                img.client_photo(src="/images/clients/#{client.photo}" alt="#{client.name}")
            .clients_name !{client.name}