.contacts_title Наши контакты

.contacts_address-wrp
    .contacts_address-title Адрес:
    .contacts_address Россия, Краснодарский край, г. Краснодар, ул.&nbsp;Карасунская, 160

.contacts_phone-wrp
    .contacts_phone-title Телефон сервисного центра:
    .contacts_phone
        a.contacts_phone-link(href="tel:+78612928169") (861) 292-81-69