.header_col.header_col--left.logo
    img.logo_image(src='/images/logo.png', alt='Группа компаний ВентПроф')

.header_col.header_col--right.contacts
    .contacts_title.
        Телефон в Краснодаре
    .contacts_phone
        a.contacts_phone-link(href='tel:+78612928169').
            (861) 292-81-69
    .contacts_show-form
        a.contacts_show-form-link(href='#').
            Заказать обратный звонок