.objects_title На каких объектах мы работаем

-
    var objects = [
        {
            name: "Жилые помещения",
            subtypes: [
                "Квартиры",
                "Частные дома",
                "Коттеджи"
            ]
        },
        {
            name: "Торговые помещения",
            subtypes: [
                "Магазины",
                "Торговые центры",
                "Автосалоны",
                "Аптеки"
            ]
        },
        {
            name: "Заведения общественного питания",
            subtypes: [
                "Кафе/Рестораны",
                "Столовые",
                "Пищеблоки",
                "Горячие цеха"
            ]
        },
        {
            name: "Офисные помещения",
            subtypes: [
                "Админ. здания",
                "Бизнес-центры",
                "Банки",
                "Офисные здания",
                "Серверные помещения"
            ]
        },
        {
            name: "Промышленные объеты",
            subtypes: [
                "Цеха",
                "Заводские помещения",
                "Склады"
            ]
        },
        {
            name: "Гостиницы",
            subtypes: [
                "Отели",
                "Дома отдыха",
                "Санатории",
                "Пансионаты"
            ]
        },
        {
            name: "Спортивные объеты",
            subtypes: [
                "Тренажерные залы",
                "Фитнесс-клубы",
                "Спортивные комплексы"
            ]
        },
        {
            name: "Общественные здания",
            subtypes: [
                "Поликлиники",
                "Больницы",
                "Школы",
                "Детские сады"
            ]
        }
    ];

ul.objects_types
    each object, objectIndex in objects
        li.objects_element
            .objects_type #{object.name}
            ul.objects_subtypes
                each objectSubtype, objetSubtypeIndex in object.subtypes
                    li.objects_subtype-element #{objectSubtype}