.team_title Наша команда

-
    var team = [
        {
            name: "Лешко Михаил Владимирович",
            post: "коммерческий директор",
            photo: "",
        },
        {
            name: "Евграфов Константин Степанович",
            post: "руководитель ПТО",
            photo: "",
        },
        {
            name: "Сошников Борис Николаевич",
            post: "инженер-проектировщик",
            photo: "",
        },
        {
            name: "Федорова Ольга Анатольевна",
            post: "главный бухгалтер",
            photo: "",
        },
        {
            name: "Цветков Евгений Михайлович",
            post: "инженер сервисной службы",
            photo: "",
        },
        {
            name: "Джента Виталий Валерьевич",
            post: "инженер сервисной службы",
            photo: "",
        },
        {
            name: "Веретин Сергей Юрьевич",
            post: "инженер КИПиА",
            photo: "",
        },
        {
            name: "Хмеловский Юрий Михайлович",
            post: "проект-менеджер",
            photo: "",
        },
        {
            name: "Радченко Максим Сергеевич",
            post: "специалист сервисной службы",
            photo: "",
        },
        {
            name: "Липка Евгений Сергеевич",
            post: "специалист сервисной службы",
            photo: "",
        },
        {
            name: "Бутков Сергей Анатольевич",
            post: "специалист сервисной службы",
            photo: "",
        },
        {
            name: "Шестаков Павел Викторович",
            post: "специалист сервисной службы",
            photo: "",
        },
    ];

ul.team_list
    each worker, index in team
        li.team_co-worker
            .team_photo-wrp
                img.team_photo(src="/images/team/#{worker.photo}", alt="#{worker.name}")
            .team_name #{worker.name}
            .team_post #{worker.post}