.warranty_title
    | Гарантии качества

.warranty_content
    p
        | Здравствуй, уважаемый посетитель нашего сайта.
    P
        | Меня зовут Веселов Андрей Сергеевич, я - директор ООО&nbsp;«Профтехсервис», входящей в группу компаний «ВентПроф».
    p
        | Наша фирма начала свою деятельность в&nbsp;далеком 2007 году. Все это время мы&nbsp;специализировались на&nbsp;выполнении работ по&nbsp;ремонту и&nbsp;обслуживанию систем кондиционирования любого уровня сложности&nbsp;— от&nbsp;бытовой сплит-системы до&nbsp;систем центрального кондиционирования. В&nbsp;течение этих лет мы&nbsp;подобрали и&nbsp;обучили персонал, и&nbsp;теперь это наш главный актив. Профессиональное специализированное оборудование, которым оснащены наши мобильные бригады, позволяет выполнять работы максимально оперативно и с&nbsp;высоким уровнем качества. За&nbsp;это&nbsp;время был приобретен бесценный опыт работы с&nbsp;крупными заказчиками, такими как Отделение Пенсионного фонда России по&nbsp;Краснодарскому краю, ООО&nbsp;«Газпром Межрегионгаз Краснодар», отделения Сбербанка России по&nbsp;Краснодарскому краю и&nbsp;многими другими.
    p
        | Все это позволяет мне гарантировать, что обратившись в&nbsp;нашу компанию, Вы&nbsp;получите качественный оперативный сервис по&nbsp;доступной цене.
    p.warranty_ps
        | Будем рады видеть Вас в&nbsp;числе наших довольных клиентов.