.warranty_title
    | Гарантии качества

.warranty_content
    p
        | Здравствуй, уважаемый посетитель нашего сайта.
    P
        | Меня зовут Веселов Андрей Сергеевич, я - директор ООО «Профтехсервис», входящей в группу компаний «ВентПроф».
    p
        | Наша фирма начала свою деятельность в далеком 2007 году. Все это время мы специализировались на выполнении работ по ремонту и обслуживанию систем кондиционирования любого уровня сложности — от бытовой сплит-системы до систем центрального кондиционирования. В течение этих лет мы подобрали и обучили персонал, и теперь это наш главный актив. Профессиональное специализированное оборудование, которым оснащены наши мобильные бригады, позволяет выполнять работы максимально оперативно и с высоким уровнем качества. За это время был приобретен бесценный опыт работы с крупными заказчиками, такими как Отделение Пенсионного фонда России по Краснодарскому краю, ООО «Газпром Межрегионгаз Краснодар», отделения Сбербанка России по Краснодарскому краю и многими другими.
    p
        | Все это позволяет мне гарантировать, что обратившись в нашу компанию, Вы получите качественный оперативный сервис по доступной цене.
    p
        | Будем рады видеть Вас в числе наших довольных клиентов.