.block03 {
	background: #edf2f7 url(/images/bg-block03.jpg) center bottom no-repeat;
}

.block03_wrp {
	max-width: $baseWidth;
	min-height: 390px;
	padding: 40px 0 0;
}

.block03_title {
	font-family: 'PF Din Text Cond Pro';
	font-size: 36px;
	font-weight: bold;
	color: #040f21;
	text-transform: uppercase;
	padding: 0 10px 20px 500px;
}

.block03_desc {
	font-family: 'PF Din Text Cond Pro';
	font-size: 24px;
	color: #8bc0c7;
	padding: 0 10px 20px 500px;
}

.form3 {
	max-width: 870px;
	padding: 0 10px 20px 500px;

	.form3_input {
		width: 100%;
		font-size: 16px;
		padding: 10px;
		border-radius: 7px;
		border: 0;
		margin-bottom: 20px;
		border: 2px solid #a8b2c4;
	}

	.form3_submit {
		font-size: 18px;
		font-family: "PF Din Text Cond Pro";
		color: rgb(250, 250, 242);
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		text-shadow: -0.819px -0.574px 0px rgba(154, 46, 0, 0.75);
		width: 100%;
		border-radius: 5px;
		border: 0;
		background-color: #f3c220;
		background-image: linear-gradient( 0deg, #eda810 0%, #f3c220 100%);
		box-shadow: inset 0px -1px 1px 0px rgba(255, 255, 255, 0.96), 0px 2px 0px 10px rgba(255,255,255,0.2), 0px 3px 0px 0px rgba(204, 80, 0, 1), 0px 5px 7px 0px rgba(50, 50, 50, 0.75);
		padding: 15px 0 10px;
		line-height: 100%;
		transition: 1s;

		&:hover {
			background-color: #eda810;
			background-image: linear-gradient( 0deg, #ec8b00 0%, #e36b00 100%);
			box-shadow: inset 0px -1px 1px 0px rgba(255, 255, 255, 0), 0px 2px 0px 10px rgba(255,255,255,0.2), 0px 3px 0px 0px rgba(228, 107, 0, 0), 0px 5px 7px 0px rgba(50, 50, 50, 0.75);
			padding: 15px 0 10px;
		}
	}
}

.block03_confidential-wrp {
	max-width: 350px;
	text-align: center;
	padding: 15px 0 0;	
}

.block03_confidential {
	font-family: 'PF Din Display Pro';
	font-size: 14px;
	color: #c7beb6;
	text-decoration: none;
	border-bottom: 1px dashed #c7beb6;
}

@media all and (max-width: 900px) {
	.block03_title {
		padding: 0 10px 20px 310px;
		font-size: 26px;
	}

	.block03_desc {
		padding: 0 10px 20px 370px;
	}

	.form3 {
		padding: 0 10px 20px 370px;
	}
}

@media all and (max-width: 680px) {
	.block03_title, .block03_desc {
		padding-left: 10px;
		background-color: #fff;
		background-color: rgba(255,255,255,.7);
	}

	.form3 {
		padding-left: 10px;
	}
}