.block04 {
	background: #354150 url(/images/bg-block04.jpg) center bottom no-repeat;
}

.block04_wrp {
	max-width: $baseWidth;
	min-height: 345px;
	padding: 30px 0;
}


.block04_title {
	font-family: 'PF Din Text Cond Pro';
	font-size: 48px;
	color: #f4b700;
	padding: 0 10px;
}

.block04_subtitle {
	font-family: 'PF Din Text Cond Pro';
	font-size: 20px;
	color: #fff;
	padding: 0 10px 30px;
}

.block04_form-block {
	padding: 30px 10px;
	@extend %clearfix;
}

.form4_textarea {
	font-family: 'PF Din Text Cond Pro';
	font-size: 14px;
	color: #fff;

	width: 100%;
	max-width: 580px;
	height: 103px;
	
	float: left;
	background-color: transparent;
	border: 2px solid #b9e9f0;
	border-radius: 12px;

	padding: 10px;

	resize: none;
}

.form4_input {
	font-family: 'PF Din Text Cond Pro';
	font-size: 14px;
	color: #fff;

	width: 100%;
	max-width: 320px;
	height: 42px;
	
	float: right;
	background-color: transparent;
	border: 2px solid #b9e9f0;
	border-radius: 12px;

	padding: 10px;

	resize: none;
}


.form4_submit {
	font-size: 18px;
	font-family: "PF Din Text Cond Pro";
	color: rgb(250, 250, 242);
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	text-shadow: -0.819px -0.574px 0px rgba(154, 46, 0, 0.75);
	width: 100%;
	border-radius: 5px;
	border: 0;
	background-color: #f3c220;
	background-image: linear-gradient( 0deg, #eda810 0%, #f3c220 100%);
	box-shadow: inset 0px -1px 1px 0px rgba(255, 255, 255, 0.96), 0px 3px 0px 0px rgba(204, 80, 0, 1), 0px 5px 7px 0px rgba(50, 50, 50, 0.75);
	padding: 15px 0 10px;
	line-height: 100%;
	transition: 1s;

	margin-top: 15px;

	max-width: 320px;
	float: right;

	&:hover {
		background-color: #eda810;
		background-image: linear-gradient( 0deg, #ec8b00 0%, #e36b00 100%);
		box-shadow: inset 0px -1px 1px 0px rgba(255, 255, 255, 0), 0px 3px 0px 0px rgba(228, 107, 0, 0), 0px 5px 7px 0px rgba(50, 50, 50, 0.75);
		padding: 15px 0 10px;
	}
}

@media all and (max-width: 900px) {
	.form4_textarea {
		width: 65%;
	}

	.form4_input, .form4_submit {
		width: 30%;
	}
}