.comments {
	background: #48848f url(/images/bg-comments.jpg) center top no-repeat;
	position: relative;
}

.comments_wrp {
	max-width: $baseWidth;
	min-height: 545px;
	padding: 30px 0 0;
	overflow: hidden;
}

.comments_title {
	font-family: 'PF Din Text Cond Pro';
	font-size: 42px;
	color: #fff;
	padding: 0 10px 0;
}

.comment_subtitle {
	font-size: 28px;
	color: #c3e8ef;
	padding: 0 0 30px;
}

.comments_element {
	position: absolute;
	width: 240px;
	top: 172px;
}

.comments_element--0 {
	left: 50%;
	margin-left: -458px;
}

.comments_element--1 {
	left: 50%;
	margin-left: -215px;
}

.comments_element--2 {
	left: 50%;
	margin-left: 30px;
}

.comments_element--3 {
	left: 50%;
	margin-left: 275px;
	width: 180px;
}

.comments_photo-wrp {
	position: absolute;
}

.comments_name {
	font-family: 'PF Din Text Cond Pro';
	font-size: 18px;
	color: #fff;
	text-align:center;
	position: absolute;
	width: 200px;
	top: 296px;
	left: 50%;
	margin-left: -130px;
}

@media all and (max-width: 900px) {
	.comments {
		background: #48848f;
	}

	.comments_list {
		font-size: 0;
	}
	.comments_element {
		position: static;
		display: inline-block;
		vertical-align: top;
		margin: 0;
		width: 25%;
	}

	.comments_photo-wrp {
		position: static;
	}

	.comments_name {
		position: static;
		margin: 0;
		padding: 5px;
	}
}